\documentclass[11pt,a5paper]{memoir}

%\usepackage{amsthm}
%\usepackage[style=authortitle-ibid,backend=biber,bibencoding=utf8]{biblatex}
%\usepackage{comment}
%\usepackage{enumerate}
%\usepackage{enumitem}
%\usepackage{etoolbox}
%\usepackage{fancyhdr}
%\usepackage[T1,LGR]{fontenc}
\usepackage[no-math]{fontspec}
%\usepackage[bottom]{footmisc}
\usepackage{graphicx}
\usepackage{hyperref}
%\usepackage{imakeidx}
%\usepackage{pythontex}
%\usepackage{subfiles}
%\usepackage{suffix}
%\usepackage{svg}
%\usepackage{titlesec}
%\usepackage{tocloft}
%\usepackage[Greek]{ucharclasses}
%\usepackage{wrapfig}
%\usepackage{yfonts}
%\usepackage{xspace}

% http://publishme.co.nz/wp/wp-content/uploads/PublishMe_standard_book_sizes_inside_page_specs.pdf
%\usepackage[a5paper,outer=18mm,inner=25mm,top=20mm,bottom=27mm]{geometry}
\setlrmarginsandblock{25mm}{18mm}{*} % spine, edge, ratio
\setulmarginsandblock{20mm}{27mm}{*} % upper, lower, ratio

%
%%\setmainfont[Ligatures=TeX]{Gentium Book Basic}
\setmainfont[Ligatures=TeX]{EB Garamond}
%\newfontfamily{\greekfont}[Scale=MatchLowercase]{Vollkorn}
%\setTransitionsForGreek{\begingroup\greekfont}{\endgroup}
%
%\hyphenation{a-mount}
%\hyphenation{do-re-an}
%\hyphenation{oth-er}
%
%% Headers
%% This makes \leftmark only produce the chapter title.
%\pagestyle{fancy}
%\renewcommand{\chaptermark}[1]{%
%\markboth{#1}{}}
%\fancypagestyle{stylefront}{%
%\fancyhf{}
%\renewcommand{\headrulewidth}{0pt}
%\fancyhead[LE,RO]{\thepage}
%\fancyhead[LO,RE]{}
%}
%\fancypagestyle{stylecontent}{%
%\fancyhf{}
%\renewcommand{\headrulewidth}{0pt}
%\fancyhead[LE,RO]{\thepage}
{{!%\fancyhead[RE]{{\slshape The Dorean Principle\/}}
{{!%\fancyhead[LO]{{\slshape \chaptername~\thechapter: \nouppercase{\leftmark}\/}}
%}
%\fancypagestyle{styleback}{%
%\fancyhf{}
%\renewcommand{\headrulewidth}{0pt}
%\fancyhead[LE,RO]{\thepage}
{{!%\fancyhead[RE]{{\slshape The Dorean Principle\/}}
{{!%\fancyhead[LO]{{\slshape \nouppercase{\leftmark}\/}}
%}
%\fancypagestyle{plain}{%
%  \fancyhf{}
%  \renewcommand{\headrulewidth}{0pt}
%}
%
%% Bibliography
%\renewcommand{\bibpagespunct}{\addcomma\linebreak[1]\addspace}
%\DefineBibliographyExtras{english}{\uspunctuation}
%\addbibresource{sources.bib}
%
%\pagenumbering{roman}
%
%% Index
%% https://tex.stackexchange.com/questions/401712/how-do-i-format-a-scripture-index-manually-like-the-one-pictured
%% https://tex.stackexchange.com/questions/354752/how-to-use-different-formatting-for-multiple-indices-with-imakeidx-and-ist-file/354996#354996
%\makeindex[name=S,title=Scripture Index,columns=2,options=-s scripture]
%
%% Chapter titles
%% TODO: fix the table of contents
%% The -1cm lets us fit exactly the right number of entries on the first page
%% of the TOC.
%\renewcommand{\contentsname}{\vspace{-1cm}Contents}
%\patchcmd{\chapter}{\cleardoublepage}{\clearpage}{}{}
%\titleformat{\chapter}[display]
%{\normalfont\huge\bfseries}{\vspace{-1ex}\centering\color{gray}{\thechapter}}{1ex}{\centering\Huge}
%%\titlespacing*{\chapter}{0pt}{-19pt}{0pt}
%
%% TODO: Chapter titles in okular not showing up right
%\newcommand\Chapter[2]{%
%% \Large\itshape
%\chapter[#1\protect\vspace{-2ex}]{#1\\[.5ex]\Large\color{black}{\textit{#2}}}%
%\cftaddtitleline{toc}{chapter}{\qquad\normalfont\itshape#2}{}
%}
%\WithSuffix\newcommand\Chapter*[2]{%
%  \chapter*{#1\\[.5ex]\Large\itshape#2}%
%  \addcontentsline{toc}{chapter}{#1\protect\vspace{-2ex}}{}%
%  \cftaddtitleline{toc}{chapter}{\qquad\normalfont\itshape#2}{}%
%}
%\newcommand\ChapterExtra[1]{
%  \chapter*{#1}
%  \addcontentsline{toc}{chapter}{#1}
%}
%
%\newtheoremstyle{plain}{}{}{\itshape}{}{\bfseries}{:}{.5em}{\thmnote{#3}}
%\theoremstyle{plain}
%\newtheorem*{definition}{}
%
%% Lists
%\setlist{noitemsep}
%% nosep instead would get rid of spaces around the list.
%
%% Substitutions
%\newcommand{\Cf}{Cf.\ } %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%\newcommand{\cf}{cf.\ } %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%\newcommand{\vdot}{v.\ } %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%\newcommand{\vs}{vs.\ }
%\newcommand{\Didache}{\textit{Didache}\xspace}
%\newcommand{\Lord}{\textsc{Lord}\xspace}
%\newcommand{\Propempo}{\textit{Propempo}\xspace} %%%%%%%%%%%%
%\newcommand{\TheShepherd}{\textit{The Shepherd}\xspace}
%\newcommand{\TheShepherdofHermas}{\textit{The Shepherd of Hermas}\xspace}
%\newcommand{\dorean}{\textit{dorean}\xspace} %%%%%%%%%%%%%%%%%%%
%\newcommand{\koinonia}{\textit{koinonia}\xspace}
%\newcommand{\papyrus}[1]{\textfrak{p}\textsuperscript{#1}}
%\newcommand{\propempo}{\textit{propempo}\xspace} %%%%%%%%%%%%%
%\newcommand{\principle}{\textit{In the context of gospel proclamation,
%accepting support as anything other than an act of colabor compromises the
%sincerity of ministry.}}
%
%% Indexes
%\pyc{from functions import *}
%\newcommand\verseindexbegin[2][1]{\py{verseindex('#2', True, #1)}%
%\ignorespaces}
%\newcommand\verseindexend[2][1]{\leavevmode\unskip%
%\py{verseindex('#2', False, #1)}}
%% TODO: Should 1 Corinthians 9 show up as such and not 9:1–27?
%% TODO: Show footnote indices correctly. (Example 1 Tim.\ 5:18).
%% TODO: Should we show b or a in the index (for partial verses)
%
\begin{document}
%
%\pagestyle{stylefront}
%\input{00-01-title}
%\input{00-02-copyright}
%\input{00-03-dedication}
%
%\tableofcontents
%\thispagestyle{stylefront}
%
%% TODO: check chirality of starting content page.
%
%\pagestyle{stylecontent}

{{#each chapters}}
\input{chapters/{{this}}.tex}
{{/each}}

%
%% TODO: citation has period outside quotes for article
%\pagestyle{styleback}
%\printbibliography
%\printindex[S]
%\pyc{verseindexassertempty()}
%
%% TODO(print): Add an index
%
%% TODO: add an acknowledgment/dedication
%
%% TODO: Add figure numbers to captions
%
%% TODO: Add a call to action to join an online group
%
\end{document}
